@use 'base/variables' as v;

.citas-admin {
    margin-top: 2rem;
    padding: 1rem;
    background-color: v.$gris-oscuro;
    border-radius: v.$borderRadius;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .citas {
        list-style: none;
        margin-bottom: 1rem;
        padding: 0rem;
        border-radius: 0.5rem;
        box-shadow: v.$boxShadow;

        h3 {
            margin-bottom: 1rem;
            color: v.$azul;
            font-weight: v.$regular;
        }
        li {
            background-color: v.$gris-muy-claro;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: v.$borderRadius;
       
            p {
                margin: 0.3rem 0;
                color: v.$negro;
                font-weight: v.$bold;
                a{
                    color: v.$azul;
                    text-decoration: none;
                }
            }
            span {
                color: v.$azul;
                font-weight: v.$regular;
            }
            .servicio {
                font-weight: v.$regular;
            }
            .total {
                margin-top: 1rem;
                font-weight: v.$bold;
                text-align: center;
                span {
                    color: v.$verde;
                }
            }

        }
        :hover {
            background-color: v.$gris-claro;
        }
    }
}

.servicios {
    margin-top: 2rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .servicio {
        background-color: v.$gris-oscuro;
        padding: .8rem;
        border-radius: v.$borderRadius;
        box-shadow: v.$boxShadow;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            font-weight: v.$bold;
            color: v.$blanco;
            span {
                font-weight: v.$regular;
                color: v.$azul;
            }   
        }

        .acciones {
            display: block;
            margin-top: 0;
            a {
                text-decoration: none;
                color: v.$blanco;
                background-color: v.$azul;
                padding: 0.5rem 1rem;
                border-radius: v.$borderRadius;
                margin-right: 0.5rem;
                font-weight: v.$bold;

                &:hover {
                    background-color: v.$azul;
                }
            }

            .eliminar {
                background-color: v.$rojo;
                border: none;
                padding: .5rem 1rem;
                font-family: v.$fuente_principal;
                font-weight: v.$bold;
                border-radius: v.$borderRadius;
                &:hover {
                    &:hover {
                        background-color: darken(v.$rojo, 10%);
                    }
                }
            }
        }
    }   
}