@use 'base/variables' as v;

.contenido-resumen {
    background-color: v.$gris-oscuro; //TODO: Agragar valiable a _variables.scss
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    p{
        color: v.$blanco;
        font-family: v.$fuente_principal;
        font-weight: v.$regular;
        //font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    span{
        font-weight: bold;
        color: v.$azul;
        font-size: 1.8rem;
    };
}

.contenedor-servicio {
    margin-top: 1rem;
    border-bottom: 1px solid v.$azul;

    &:last-of-type{
        border-bottom: none;
        margin-bottom: v.$separacion;
    }
}